responses/*
.gitignore
.venv/
README.md
logos/
test/
.vscode/
video_meta/*
docs/
.git/
data/*
.streamlit/secrets.toml
secrets.toml
transcript_audios/
transcribed/
.DS_Store
env-*
__pycache__/
.pytest_cache/
LICENSE
renovate.json
CHANGELOG.md
docker-compose.yml
Dockerfile
.github/
scripts/
