networks:
  net:
    driver: bridge

services:
  chromadb:
    image: chromadb/chroma:1.5.0
    container_name: chroma-db
    volumes:
      - chroma:/data
    ports:
      - "8000:8000"
    networks:
      - net

  youtubegpt:
    image: sudoleg/yotube-gpt:latest
    container_name: youtube-gpt
    depends_on:
      - chromadb
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      # leave as it is
      - ./data:/app/data
    environment:
      # replace with your OpenAI API key or the name of the environment
      # variable that stores it on your PC 
      - OPENAI_API_KEY=${OPENAI_YOUTUBEGPT_API_KEY}
      - OLLAMA_HOST=http://host.docker.internal:11434
    ports:
      - "8501:8501"
    networks:
      - net

  #ollama:
  #  image: ollama/ollama:0.13.3
  #  container_name: ollama
  #  volumes:
  #    - ollama:/root/.ollama
  #  ports:
  #    - "11434:11434"
  #  restart: unless-stopped
  #  networks:
  #    - net

volumes:
  chroma:
    driver: local
#  ollama:
#    driver: local
