youtube-transcript-api==1.1.0
langchain-core==0.3.67
langchain-community==0.3.26
langchain-openai==0.3.27
langchain-text-splitters==0.3.8
streamlit==1.44.1
watchdog==6.0.0
pytest==8.4.1
peewee==3.18.1
python-dotenv==1.1.1
chromadb==1.0.15
langchain-chroma==0.2.4
randomname==0.2.1
tiktoken==0.9.0
openai-whisper==20250625
pytubefix==9.2.2
