youtube-transcript-api==0.6.3
langchain-core==0.3.21
langchain-community==0.3.9
langchain-openai==0.2.11
langchain-text-splitters==0.3.2
streamlit==1.39.0
watchdog==4.0.2
pytest==8.3.4
peewee==3.17.8
python-dotenv==1.0.1
chromadb==0.5.23
langchain-chroma==0.1.4
randomname==0.2.1
tiktoken==0.8.0
openai-whisper==20240930
pytubefix==8.7.0
