# .github/workflows/streamlit-app.yml
name: Test streamlit app

on:
  push:
    branches:
      - '**'

permissions:
  contents: read

jobs:
  test_streamlit_app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13.9"
      - uses: streamlit/streamlit-app-action@v0.0.3
        with:
          app-path: main.py
          skip-smoke: 'true'